<nav class="navbar navbar-dark bg-primary mb-5">
    <a class="navbar-brand" routerLink="/home">
        <i class="fa fa-child" aria-hidden="true"></i>
        Controle Kids
    </a>
</nav>

<p class="display-4 text-center mb-5 mt-5">Bem vindo ao Controle Kids!</p>

<div class="container">

    <div class="card text-center">
        <div class="card-body">
            <h4 class="card-title mt-2">Controle o tempo em que as crianças se divertem no Espaço Kids.</h4>
        </div>
    </div>
    <button type="button" routerLink="/criancas" class="btn btn-primary btn-lg btn-block mt-4"> <i class="fa fa-sign-in"
            aria-hidden="true"></i>
        Entrar</button>

</div>


<footer class="container text-center">
    <p class="align-bottom"> © Copyright 2019 - Feito por Matheus Manhães <br>
        <a href="http://www.github.com/momanhaes" target="_blank"> <i class="fa fa-github" aria-hidden="true"></i>
            GitHub</a> |
        <a href="https://www.linkedin.com/in/matheus-manh%C3%A3es-7a272a170/" target="_blank"> <i
                class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></p>
</footer>