<app-header></app-header>
<div class="centralizado">
    <div class="container">
        <h1 class="display-4 text-center mb-3">Bem vindo ao Controle Kids</h1>
        <div class="card text-center">
            <div class="card-body">
                <h3 class="card-title mt-2">Controle o tempo em que as crianças se divertem</h3>
            </div>
        </div>
        <button type="button" routerLink="/criancas" class="btn btn-primary btn-lg btn-block mt-4"> <i
                class="fa fa-sign-in" aria-hidden="true"></i>
            Entrar</button>
    </div>
</div>