<app-header></app-header>
<div id="content" class="mt-5">
    <h1 class="display-4 text-center mb-5">Lista de Crianças</h1>

    <div class="container mb-4">
        <form class="w-100">
            <div class="row">
                <div class="col-4 mb-4">
                    <button class="btn btn-outline-primary font-weight-bold" routerLink="/criancas/cadastrar">
                        <i class=" fa fa-user-plus" aria-hidden="true"></i> Cadastrar</button>
                </div>
                <div class="col-12">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-primary"> <i class="fa fa-search" aria-hidden="true"></i></button>
                        </div>
                        <input type="text" class="form-control" placeholder="Pesquise por qualquer item da lista">
                    </div>
                </div>

            </div>
        </form>
    </div>

    <div class="container">

        <div class="card bg-light mb-4">
            <h5 class="bg-primary card-header text-light mb-4">MARIA DA SILVA</h5>
            <div class="card-body">
                <div class="row">
                    <div class="col col-md-2">
                        <h5 class="card-title text-center mb-4">Responsável
                        </h5>
                        <h5 class="text-primary text-center mb-4">José de Souza</h5>
                    </div>
                    <div class="col col-md-2">
                        <h5 class="card-title text-center mb-4">Telefone</h5>
                        <h5 class="text-primary text-center mb-4">(21) 99999-9999</h5>
                    </div>
                    <div class="col col-md-2">
                        <h5 class="card-title text-center mb-4">Tempo</h5>
                        <h5 class="text-primary text-center mb-4">20 minutos</h5>
                    </div>
                    <div class="col col-md-2">
                        <h5 class="card-title text-center mb-4">Início</h5>
                        <h5 class="text-primary text-center mb-4">19:31:00</h5>
                    </div>
                    <div class="col col-md-2">
                        <h5 class="card-title text-center mb-4">Fim</h5>
                        <h5 class="text-primary text-center mb-4">19:51:00</h5>
                    </div>
                    <div class="col col-md-2">
                        <h5 class="card-title text-center mb-4">Valor</h5>
                        <h5 class="text-primary text-center mb-4">R$20,00</h5>
                    </div>
                </div>

                <h5 class="card-title mt-2 mb-4">Status</h5>

                <div class="progress mb-3">
                    <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar"
                        style="width: 14%" aria-valuenow="14" aria-valuemin="0" aria-valuemax="100"></div>
                </div>
            </div>
        </div>

    </div>
</div>