<router-outlet></router-outlet>
<footer class="container text-center postition-absolute mt-5" style="bottom: 0px;">
    <p class="align-bottom"> © Copyright 2019 - Matheus Manhães <br>
        <a href="http://www.github.com/momanhaes" class="alert-link text-dark" target="_blank"> <i class="fa fa-github"
                aria-hidden="true"></i>
            GitHub</a> |
        <a href="https://www.linkedin.com/in/matheus-manh%C3%A3es-7a272a170/" class="alert-link text-dark"
            target="_blank"> <i class="fa fa-linkedin-square" aria-hidden="true"></i> LinkedIn</a></p>
</footer>